@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    font-family: "Roboto Flex", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
